<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings>
  <add name="DB_TOUREntities" connectionString="metadata=res://*/TourModel.csdl|res://*/TourModel.ssdl|res://*/TourModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0PHP9QF;initial catalog=DB_TOUR;user id=sa;password=sa2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings></configuration>